@inherits Custom.Hybrid.RazorTyped
@using ThisApp
@using AppCode

@{
  var currentType = MyModel.String("CurrentType");
  var nsInfo = MyModel.Get<NamespaceInfo>("NsInfo");
  var classInfo = MyModel.Get<TypeInfo>("ClassInfo");
  var memName = MyModel.String("Member");
}
<table>
  @Html.Partial("./VisibilityHeader.cshtml")

  @foreach (var mem in classInfo.Members.Relevant)
  {
    <tr  class='@(memName == mem.Name ? "selected" : "")'>
      <td title="@mem.TypeSummary.Message">
        @mem.TypeSummary.Icon
      </td>
      <td title="@mem.LabelExtended">
        <a href='@Link.To(parameters: MyPage.Parameters.Toggle("Member", mem.Name))'>
          @mem.Label
        </a>
      </td>
      @Html.Partial("./VisibilityColumns.cshtml", new { mem.Visibility })
    </tr>
  }
</table>