@inherits Custom.Hybrid.RazorTyped
@using AppCode
@using AppCode.Models

@{
  var currentType = MyModel.String("CurrentType");
  var nsInfo = MyModel.Get<ApiNamespaceInfo>("NsInfo");

}
<table>
  @Html.Partial("./VisibilityHeader.cshtml")

  @foreach (var type in nsInfo.Types.Relevant)
  {
    var fullNs = type.Namespace + "." + type.Name;
    var cnf = type.Rule;
    var tlb = cnf == null
      ? Kit.Toolbar.Empty().New("RuleClass", tweak: t => t.Prefill(new { Title = fullNs }))
      : Kit.Toolbar.Edit(cnf);

    var configInfo = type.Rule?.IgnoreAllProperties == true
      ? new InfoWithIcon("🦘*", "Ignore all properties")
      : type.RuleNamespace?.IgnoreTypeMembers == true
        ? new InfoWithIcon("🦘🎛️", "Ignore all members")
        : type.Rule?.IgnoreMembersWithoutSpecs == true
          ? new InfoWithIcon("🦘🔲", "Ignore members without specs")
          : type.Rule != null
            ? new InfoWithIcon("⚙️", "Has rules")
            : new InfoWithIcon("", "");
    
    <tr class='@(currentType == type.Name ? "selected" : "")' @tlb>
      <td title="@type.TypeInfo.Message">
        @type.TypeInfo.Icon
      </td>
      <td>
        <a href='@Link.To(parameters: MyPage.Parameters.Filter("Dll,Namespace,Type").Toggle("Type", type.Name))'>
          @type.Name
        </a>
      </td>

      @* Standard infos / checkboxes *@
      @Html.Partial("./VisibilityColumns.cshtml", new { type.Visibility, Total = type.Overall })

      @* Configuration *@
      <td title='@configInfo.Message'>
        @configInfo.Icon
      </td>
      <td>
        
      </td>
    </tr>
  }
</table>