@inherits Custom.Hybrid.RazorTyped
@using AppCode
@using AppCode.Models

@{
  var currentType = MyModel.String("CurrentType");
  var nsInfo = MyModel.Get<ApiNamespaceInfo>("NsInfo");
  var classInfo = MyModel.Get<ApiTypeInfo>("ClassInfo");
  var selectedMemberName = MyModel.String("selectedMemberName");
}
<table>
  @Html.Partial("./VisibilityHeader.cshtml")

  @foreach (var member in classInfo.Members.Relevant)
  {
    <tr class='@(selectedMemberName == member.Name ? "selected" : "")'>
      <td title="@member.TypeInfo.Message">
        @member.TypeInfo.Icon
      </td>
      <td title="@member.LabelExtended">
        <a href='@Link.To(parameters: MyPage.Parameters.Toggle("Member", member.Name))'>
          @member.Label
        </a>
      </td>
      @Html.Partial("./VisibilityColumns.cshtml", new { visibility = member.Visibility })
    </tr>
  }
</table>