@inherits Custom.Hybrid.RazorTyped
@using AppCode
@using AppCode.Models

@{
  var parentName = MyModel.String("ParentName");
  var info = MyModel.Get<ICommonInfo>("info");

  var visibility = info.Visibility;
}

<h5>Debug Class Member: @(parentName + "." + info.Name)</h5>

<ol>
  <li>
    Name: @info.Name
  </li>
  <li>
    Summary: @info.TypeInfo.Icon @info.TypeInfo.Message
  </li>
  @if (info is ApiMemberInfo memberInfo)
  {
    var declType = memberInfo.MemberInfo.DeclaringType;
    var isObject = declType == typeof(object);

    <li>
      Declaring Member: @memberInfo.MemberInfo.DeclaringType.Name (IsObject: @isObject)
    </li>
  }
</ol>

<h5>Public & IntelliSense</h5>
<ol>
  <li>
    @Show.BoolMoji(visibility.IsPublic, "👁️", "🔒")
    @(visibility.IsPublic ? "Public" : "Not public")
  </li>
  <li>
    @visibility.EditorStatus.Icon @visibility.EditorStatus.Details
  </li>
</ol>

<h5>Docs</h5>
@visibility.Docs.Icon
<pre>@visibility.Docs.Details</pre>
