@inherits Custom.Hybrid.RazorTyped
@using System.Linq;
@using AppCode.Data
@using AppCode.Analyzers

@{
  var currentDll = MyModel.String("currentDll");
  var assemblyInfoSvc = GetService<AssemblyInfoManager>();

  var dllGroups = App.Data.GetAll<DllGroup>()
    .OrderBy(g => g.Order)
    .ToList();
}
@foreach (var dllGroup in dllGroups)
{
  var dllItems = dllGroup.Parents<Dll>()
    .OrderBy(x => x.Title)
    .ToList();
  
  <table>
    <tr>
      <th title="The currently selected DLL - truncated if too long">@dllGroup.Title</th>
      <th title="Stats">📊</th>
      <th title="Assembly information incl. ignore All and overall status (if already analyzed and the analysis is cached)" >⚙️</th>
      <th title="Edit (on hover)" >✏️</th>
    </tr>
    @foreach (var dllItem in dllItems) {

      var title = dllItem.Title;
      var trunc = title.Length < 10
        ? title
        : title.Replace("ToSic.", "...");
      var info = assemblyInfoSvc.GetCached(dllItem.Name);
      var nsInfo = info?.Namespaces;

      <tr class='@(title == currentDll ? "selected" : "")' @Kit.Toolbar.Edit(dllItem)>
        <td title="@title">
          <a href='@Link.To(parameters: "Dll=" + title)'>
            @trunc
          </a>
        </td>
        <td title='@(nsInfo?.SummaryInfo)'>
          @(nsInfo?.Summary)
        </td>
        <td title='@(info?.Overall.Details)'>
          @(dllItem.IgnoreAll ? "🚫" : "")
          @* @(dllItem.AssemblyInfo?.Overall.Icon) *@
          @(info?.Overall.Icon)
        </td>
        <td>
          &nbsp;
        </td>
      </tr>
    }
  </table>

}
